.brand span{
    font-size: 16px;
}
.modal-dialog .input-group{
    margin-top: 10px;
}
.title{
    text-align: center;
    margin-top: 260px;
    color: black;
}
.showWay{
    text-align: center;
}
#myModal{
    text-align: left;
}
.modal-body{
    text-align: left;
}